<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Sanket Raut. It uses openweathermap.org</p>
        <img class="portrait" src="/img/SanketRaut.png">
    </div>
    {{>footer}}
</body>

</html>